{
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSameLine": false,

  "endOfLine": "lf"
}
